/* CSS declarations go here */
/*Setting main page*/
.section-right{
    padding-right: 30px;
}
.section-left{
    padding-left: 30px;
}
/*DropZone style*/
#dropzone{
    width: 100%;
    height: 500px;
    border: dashed 3px blue;
    background: white;
    margin: 5px;
    padding: 10px;
    overflow-y: scroll;
}
#content-dropzone{
    background: cornflowerblue;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
}
#dropzone.active{
    background: greenyellow;
}
/*Gallery Images*/
.gallery {
    margin: 0;
    padding: 5px;
}
.images{
    width: auto;
    height: 180px;
    padding: 5px;
    border: solid 1px darkseagreen;
}
.image{
    opacity: 0.8;
    filter: alpha(opacity=80);
    max-height: 100%;
    height: auto;
}
.image:hover{
    cursor: pointer;
    border: solid 1px green;
    opacity: 1;
    filter: alpha(opacity=1);
}
.gallery li{
    display: block;
    float: left;
    padding: 5px;
    margin-bottom: 10px;
    height: 180px;
}
.gallery li>img{
    margin-bottom: 10px;
}
.gallery .controls{
    position: absolute;
    width: 87%;
    margin-bottom: 5px;
    bottom: 0;
}
.tags{
    margin-top: 5px;
    border: solid 1px gainsboro;
    padding: 5px;
    margin-bottom: 30px;
}
.tags>span{
    font-size: 12px;
    padding: 5px;
    margin-top: 5px;
    display: inline-block;
}
.tag{
    color: green;
}
.tag:hover{
    color: white;
    cursor: pointer;
}
.monto{
    border: solid 1px gainsboro;
    padding: 5px;
    margin-top: 5px;
}
.buy{
    display: block;
    width: auto;
    margin: 0 auto;
}
/*---Perzonaliso los botones para crear etiquetas con los precios---*/
.btn-group-vertical{
    width: 100%;
}
.btn-group-vertical>.btn {
    width: 70%;
    float: left;
}
.btn-group-vertical>span{
    background: mediumseagreen;
    border: solid 1px green;
    color: white;
    display: block;
    float: left;
    text-align: center;
    width: 30%;
    height: auto;
    padding: 5px 10px;
    margin: 0;
    font-size: 12px;
    line-height: 1.5;
}
.btn-group-vertical > .btn:first-child:not(:last-child) {
    border-top-right-radius: 0;
}
.btn-group-vertical > .btn:last-child:not(:first-child) {
    border-bottom-right-radius: 0;
}
